<html>
	<meta charset="UTF-8"/>
		
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
		<script src="https://code.angularjs.org/1.2.0/angular-resource.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
		
		{% block files %} {% endblock files %}	

		<body ng-app="{% block ng_app %}{% endblock %}">
		    {% block page_content %} {% endblock page_content %}	
		</body>
</html>